<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
  <tr>
    <th>Cash Given</th>
    <th>Total Purchase Prize</th>
    <th>Total Tax Amount</th>
    <th>Total Bill Amount</th>
    <th>Rounded Bill Amount</th>
    <th>Balance Amount</th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
    <tr>
      <td><%= bill.cash_given %></td>
      <td><%= bill.total_purchased_prize %></td>
      <td><%= bill.total_tax_amount %></td>
      <td><%= bill.total_bill_amount %></td>
      <td><%= bill.rounded_bill_amount %></td>
      <td><%= bill.balance_amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
