<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <h1>Billing System</h1>
    <div class="field pt-3 pb-3">
      <%= form.label :customer_email %>
      <%= form.text_field :email, placeholder: "Enter Email Address" %>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <hr>

  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <h1>Bill Section</h1>
    </div>

    <div class="d-flex flex-column" id="input-body">
      <%= form.fields_for :customer_products do |customer_product| %>
        <div class="mt-3">
          <%= render "customer_product_fields", f: customer_product %>
        </div>
      <% end %>
      <%= link_to_add_fields "Add Input Fields", form, :customer_products %>
    </div>

  </div>

  <hr>

  <div class="container">
    <h1>Denominations</h1>

    <div class="denominations col-6">
      <div class="pt-3 pb-3">
        <label for="denomination_500">500</label>
        <input type="number" name="denomination_500" id="denomination_500" placeholder="Quantity" />
      </div>

      <div class="pt-3 pb-3">
        <label for="denomination_100">100</label>
        <input type="number" name="denomination_100" id="denomination_100" placeholder="Quantity" />
      </div>

      <div class="pt-3 pb-3">
        <label for="denomination_50">50</label>
        <input type="number" name="denomination_50" id="denomination_50" placeholder="Quantity" />
      </div>

      <div class="pt-3 pb-3">
        <label for="denomination_10">10</label>
        <input type="number" name="denomination_10" id="denomination_10" placeholder="Quantity" />
      </div>

      <div class="pt-3 pb-3">
        <label for="denomination_5">5</label>
        <input type="number" name="denomination_5" id="denomination_5" placeholder="Quantity" />
      </div>

      <div class="pt-3 pb-3">
        <label for="denomination_1">1</label>
        <input type="number" name="denomination_1" id="denomination_1" placeholder="Quantity" />
      </div>
    </div>
  </div>

  <div class="lower-container ">
    <div class="d-flex flex-row justify-content-between m-3">
      <div class="pt-3 pb-3">
        <label for="total_cash">Cash paid by Customer</label>
        <input type="number" style="background-color: #f0f0f0" name="cash" id="total_cash" placeholder="Amount" />
      </div>

      <div class="pt-3 pb-3 d-flex flex-row">
        <button class="cancel-btn">Cancel</button>
        <div class="actions">
          <%= form.button "Generate Bill", type: "submit", commit: "Create Customer", class: "generate-btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
