<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Billing System</h1>
  <div class="pt-3 pb-3">
    <h5>Customer Email</h5>
    <p style="color: #999999">Email collected in the previous page</p>
  </div>
</div>

<div class="container">
  <h1>Bill Section</h1>

  <table class="table table-bordered">
    <thead>
    <tr class="heading-row">
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit prize</th>
      <th scope="col">Quantity</th>
      <th scope="col">Purchased Prize</th>
      <th scope="col">Tax % for item</th>
      <th scope="col">Tax payable for item</th>
      <th scope="col">Total prize of the item</th>
    </tr>
    </thead>

    <tbody>
    <% @customer_products.each do |customer_product| %>
      <tr class="value-row">
        <td><%= customer_product.product_id %></td>
        <td><%= Product.find(customer_product.product_id).name %></td>
        <td><%= Product.find(customer_product.product_id).unit_prize %></td>
        <td><%= customer_product.quantity %></td>
        <td><%= customer_product.purchased_prize %></td>
        <td><%= Product.find(customer_product.product_id).tax_percentage %></td>
        <td><%= customer_product.tax_amount %></td>
        <td><%= customer_product.total_prize %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h1>Balance Denominations</h1>

  <div class="col-6">
    <div class="pt-3 pb-3 d-flex">
      <span class="balance-denomination">500</span>
      <p class="balance-quantity"><%= @denomination_500 %></p>
    </div>

    <div class="pt-3 pb-3 d-flex">
      <span class="balance-denomination">100</span>
      <p class="balance-quantity"><%= @denomination_100 %></p>
    </div>

    <div class="pt-3 pb-3 d-flex">
      <span class="balance-denomination">50</span>
      <p class="balance-quantity"><%= @denomination_50 %></p>
    </div>

    <div class="pt-3 pb-3 d-flex">
      <span class="balance-denomination">10</span>
      <p class="balance-quantity"><%= @denomination_10 %></p>
    </div>

    <div class="pt-3 pb-3 d-flex">
      <span class="balance-denomination">5</span>
      <p class="balance-quantity"><%= @denomination_5 %></p>
    </div>

    <div class="pt-3 pb-3 d-flex">
      <span class="balance-denomination">1</span>
      <p class="balance-quantity"><%= @denomination_1 %></p>
    </div>
  </div>
</div>

<div class="bill-generated-lower-container d-flex flex-row justify-content-end">
  <div>
    <p>Total price without tax: <%= @bill_generated.total_purchased_prize %></p>
    <p>Total tax payable: <%= @bill_generated.total_tax_amount %></p>
    <p>Net price of the purchased item: <%= @bill_generated.total_bill_amount %></p>
    <p>Rounded down value of the purchased items net price: <%= @bill_generated.rounded_bill_amount %></p>
    <p>Balance payable to the customer: <%= @bill_generated.balance_amount %></p>
  </div>
</div>